.imageSlider {
    background-image: url("https://imgs7.luluandsky.com/catalog/product/8/9/898907884623054-_1_.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.secondslider{
    background-image: url("https://imgs7.luluandsky.com/catalog/product/8/9/898907884623054-_1_.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;

}